
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.header {
  background-color: white;
  border-bottom: 2px solid #cccccc;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Georgia', Times, "Times New Roman", serif;
 }

.centeredheader{
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

ul {
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  text-align: center;
  align-items: center;
   margin: 39px 0; 
}

li a {
  display: table;
  padding: 0px 16px;
  margin: 0 auto;
  text-decoration: none;
  /* line-height: 94px; */
}

li+li {
  border-left: 1px solid #cccccc;
}

a:link {
  color: #777777;
}

.header1 {
  padding: 35px 30px;
  float: left;  
  color: #ffffff;
  background-color: #4aaaa5;
}

.header2 {
   color: #4aaaa5;
   border-bottom: 3px solid #cccccc;
   padding-bottom: 30px;
   margin-bottom: 30px;
   font-family: 'Georgia', Times, "Times New Roman", serif;
}

 
body {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column;
  background-image: url("../images/hypnotize.png");
  background-repeat: repeat;
  color: #777777;
}

.bigbody {
  overflow-y: scroll;
  margin-left: 12px;
}

p {
  line-height: 2;
  text-indent: 30px;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  min-width: 960px;
  height: auto;
  min-height: 100%;
  flex: 1 0 auto;
  margin: auto;
  background: white;
  padding: 40px 30px 40px 30px;
  margin-bottom:  120px;
  border: 1px solid #dddddd;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#profilepic {
  float: left;
  margin-right: 24px; 
  height: 290px;
  width: 266px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  /** width: 100%; **/
  background-color: #4aaaa5;
  color: white;
  padding: 14px 25px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.talltextbox{
  height: 180px;
}

.grid {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.portfoliopic {
  justify-content: space-around;
  height: 200px;
  width: 250px;
  margin-bottom: 60px;
  margin-right: 40px;
  position: relative;
}

.textoverpic {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Georgia', Times, "Times New Roman", serif;
    text-align: center;
    background-color: #4aaaa5;
    width: 250px;
    color:  white;
    padding: 10px;
}

.footer {
  flex-shrink: 0;
  background-color: #666666;
  border-top: 6px solid #4aaaa5;
  text-align: center;
  color: white;
  padding-top: 15px;
  padding-bottom: 1px;
  font-size: 10px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}